.idea
.idea/*
.venv
.venv/*
venv
venv/*
__pycache__
__pycache__/*
.vscode

*.pyc
*.xml
*.tsv
*.ods
*.pyc
*.xml
*.txt
resources/wiki_items_working_list.csv
resources/bitterkoekje_items_bedevere_modified_specials_sorted_filtered.csv
resources/bitterkoekje_items_bedevere_modified_specials_only.csv
resources/.~lock*
*.egg-info